# Object files
*.ko
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.hex
*.out
*.exe
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.map

# Class files
*.class